/TrickyCpp/TrickyCpp.opensdf
/TrickyCpp/TrickyCpp/Debug/TrickyCpp.tlog/CL.read.1.tlog
/TrickyCpp/TrickyCpp/Debug/TrickyCpp.tlog/CL.write.1.tlog
/TrickyCpp/TrickyCpp/Debug/TrickyCpp.tlog/TrickyCpp.lastbuildstate
/TrickyCpp/TrickyCpp/Debug/TrickyCpp.tlog/cl.command.1.tlog
/TrickyCpp/TrickyCpp/Debug/TrickyCpp.tlog/link.command.1.tlog
/TrickyCpp/TrickyCpp/Debug/TrickyCpp.tlog/link.read.1.tlog
/TrickyCpp/TrickyCpp/Debug/TrickyCpp.tlog/link.write.1.tlog
/TrickyCpp/TrickyCpp/Debug/vc120.idb
